In [22]:
import pandas as pd

In [8]:
'''
    Given a sample list, tuple and a set with elements as numbers from 1-10. Convert each of the data types into a pandas series. 
    Create a separate list of index values for the series.
'''

'\n    Given a sample list, tuple and a set with elements as numbers from 1-10. Convert each of the data types into a pandas series. \n    Create a separate list of index values for the series.\n'

In [23]:
my_list = [1,2,3,4,5,6,7,8,9,10]
my_tuple = (1,2,3,4,5,6,7,8,9,10)
my_set = {1,2,3,4,5,6,7,8,9,10}

In [24]:
#pd.series

s1 = pd.Series(my_list, index=['a','b','c','d','e','f','g','h','i','j'])

s2 = pd.Series(my_tuple)

s3 = pd.Series(sorted(my_set))   #set is unordered collection so we have to convert set to ordered collection by using the sorted method

In [25]:
print(s1)

print(s2)

print(s3)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [26]:
'''
Create a python dictionary with three key value pairs. Keep the keys as the first names, and the respective last names as values in the dictionary.
Use the dictionary to create a pandas series.
'''

'\nCreate a python dictionary with three key value pairs. Keep the keys as the first names, and the respective last names as values in the dictionary.\nUse the dictionary to create a pandas series.\n'

In [27]:
my_dictionary = {"sachin" : "tendulkar", "rahul" : "dravid", "sourav" : "ganguly"}

In [28]:
s4 = pd.Series(my_dictionary)
s4

sachin    tendulkar
rahul        dravid
sourav      ganguly
dtype: object

In [17]:
'''
Create a pandas series, with the elements as numbers from 1-10. Use the index values starting from 0-10. For the above series:
a. Convert it to a list.
b. Convert it to a dictionary. 
c. Convert it to a tuple.
d. Convert it to a set.
'''

'\nCreate a pandas series, with the elements as numbers from 1-10. Use the index values starting from 0-10. For the above series:\na. Convert it to a list.\nb. Convert it to a dictionary. \nc. Convert it to a tuple.\nd. Convert it to a set.\n'

In [29]:
my_series = pd.Series([1,2,3,4,5,6,7,8,9,10])
my_series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [37]:
#my_list = my_series.to_list()
#my_dictionary = my_series.to_dict()


#my_tuple = my_series.to_tuple()
#my_tuple = tuple(my_series)
#my_tuple = tuple(my_series)  #have to work on this
my_set1 = series.to_set(my_series)

#series.to_set

AttributeError: 'Series' object has no attribute 'to_set'

In [ ]:
'''
Create a sample pandas series with x integer elements. Perform the following operations on the same:
a. Print the first 5 elements of the series
b. Print the last 5 elements of the series
c. Insert an integer value ‘50’ at the index 5.
d. Update the last element in the series with the value 100.
e. Delete the first element from the series.
Note: The index values must not be affected by the operations and should be uniform for the series after the last operation.
'''

In [ ]:
series = pd.Series(list(range(1, 10)))