##Netflix recommendation Engine

## **This will not work in Jupiter notebook as it uses Surprise package

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
netflix_dataset = pd.read_csv('combined_data.txt', encoding='utf-8', header = None, names=['Cust_id', 'Rating'], usecols=[0,1])

In [7]:
netflix_dataset

          Cust_id  Rating
0              1:     NaN
1         1488844     3.0
2          822109     5.0
3          885013     4.0
4           30878     4.0
...           ...     ...
24058258  2591364     2.0
24058259  1791000     2.0
24058260   512536     5.0
24058261   988963     3.0
24058262  1704416     3.0

[24058263 rows x 2 columns]

In [9]:
netflix_dataset.isnull().sum()

Cust_id       0
Rating     4499
dtype: int64

In [10]:
movie_count = netflix_dataset.isnull().sum()["Rating"]
movie_count

4499

In [11]:
movie_id = None
movie_np = []

#iterate over the DataFrame rows
for cust_id in netflix_dataset['Cust_id'] :
    if ':' in cust_id :
        #update the current movie ID
        movie_id = int(cust_id.replace(':', ''))
    movie_np.append(movie_id)

In [14]:
# In above, we are fetching the movie ID to list movie_np tp map the movie ID with data frame

In [15]:
netflix_dataset['Movie_Id'] = movie_np
netflix_dataset

          Cust_id  Rating  Movie_Id
0              1:     NaN         1
1         1488844     3.0         1
2          822109     5.0         1
3          885013     4.0         1
4           30878     4.0         1
...           ...     ...       ...
24058258  2591364     2.0      4499
24058259  1791000     2.0      4499
24058260   512536     5.0      4499
24058261   988963     3.0      4499
24058262  1704416     3.0      4499

[24058263 rows x 3 columns]

In [16]:
netflix_dataset = netflix_dataset[netflix_dataset['Rating'].notna()]

In [17]:
netflix_dataset

          Cust_id  Rating  Movie_Id
1         1488844     3.0         1
2          822109     5.0         1
3          885013     4.0         1
4           30878     4.0         1
5          823519     3.0         1
...           ...     ...       ...
24058258  2591364     2.0      4499
24058259  1791000     2.0      4499
24058260   512536     5.0      4499
24058261   988963     3.0      4499
24058262  1704416     3.0      4499

[24053764 rows x 3 columns]

In [18]:

netflix_dataset['Cust_id'] = netflix_dataset['Cust_id'].astype(int)

C:\Users\Centina\AppData\Local\Temp\ipykernel_7072\2787905673.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_dataset['Cust_id'] = netflix_dataset['Cust_id'].astype(int)

In [19]:
netflix_dataset.dtypes

Cust_id       int32
Rating      float64
Movie_Id      int64
dtype: object

In [20]:
# Prefiltering of the movies

In [21]:
dataset_movie_summary=netflix_dataset.groupby('Movie_Id')['Rating'].agg(["count"])

In [22]:
dataset_movie_summary

          count
Movie_Id
1           547
2           145
3          2012
4           142
5          1140
...         ...
4495        614
4496       9519
4497        714
4498        269
4499        428

[4499 rows x 1 columns]

In [23]:
#now we will create a benchmark
movie_benchmark=round(dataset_movie_summary['count'].quantile(0.6),0)
movie_benchmark

908.0

In [24]:
drop_movie_list=dataset_movie_summary[dataset_movie_summary['count']<movie_benchmark].index
drop_movie_list

Index([   1,    2,    4,    7,    9,   10,   11,   12,   13,   14,
       ...
       4480, 4481, 4486, 4487, 4491, 4494, 4495, 4497, 4498, 4499],
      dtype='int64', name='Movie_Id', length=2699)

In [27]:
netflix_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24053764 entries, 1 to 24058262
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   Cust_id   int32
 1   Rating    float64
 2   Movie_Id  int64
dtypes: float64(1), int32(1), int64(1)
memory usage: 642.3 MB

In [28]:
#now we will remove all the users that are in-active
dataset_cust_summary=netflix_dataset.groupby('Cust_id')['Rating'].agg(["count"])
dataset_cust_summary

         count
Cust_id
6          153
7          195
8           21
10          49
25           4
...        ...
2649404     12
2649409     10
2649421      3
2649426     74
2649429     62

[470758 rows x 1 columns]

In [29]:
cust_benchmark=round(dataset_cust_summary['count'].quantile(0.6),0)
cust_benchmark

36.0

In [31]:
drop_cust_list=dataset_cust_summary[dataset_cust_summary['count'] < cust_benchmark].index
drop_cust_list

Index([      8,      25,      33,      83,      94,     126,     130,     133,
           142,     149,
       ...
       2649337, 2649343, 2649351, 2649376, 2649379, 2649384, 2649401, 2649404,
       2649409, 2649421],
      dtype='int32', name='Cust_id', length=282042)

In [32]:
netflix_dataset=netflix_dataset[~netflix_dataset['Movie_Id'].isin(drop_movie_list)]
netflix_dataset=netflix_dataset[~netflix_dataset['Cust_id'].isin(drop_cust_list)]
print('After the triming, the shape is: {}'.format(netflix_dataset.shape))

After the triming, the shape is: (19695836, 3)

In [33]:
netflix_dataset

          Cust_id  Rating  Movie_Id
696        712664     5.0         3
697       1331154     4.0         3
698       2632461     3.0         3
699         44937     5.0         3
700        656399     4.0         3
...           ...     ...       ...
24056842  1055714     5.0      4496
24056843  2643029     4.0      4496
24056844   267802     4.0      4496
24056845  1559566     3.0      4496
24056846   293198     3.0      4496

[19695836 rows x 3 columns]

# ** Model Implementation **

In [35]:
df_title = pd.read_csv("movie_titles.csv", encoding='ISO-8859-1', header=None, usecols=[0,1,2], names=["Movie_Id", "Year", "Name"])

In [36]:
df_title

       Movie_Id    Year                                               Name
0             1  2003.0                                    Dinosaur Planet
1             2  2004.0                         Isle of Man TT 2004 Review
2             3  1997.0                                          Character
3             4  1994.0                       Paula Abdul's Get Up & Dance
4             5  2004.0                           The Rise and Fall of ECW
...         ...     ...                                                ...
17765     17766  2002.0  Where the Wild Things Are and Other Maurice Se...
17766     17767  2004.0                  Fidel Castro: American Experience
17767     17768  2000.0                                              Epoch
17768     17769  2003.0                                        The Company
17769     17770  2003.0                                       Alien Hunter

[17770 rows x 3 columns]

In [37]:
!pip install scikit-surprise

Defaulting to user installation because normal site-packages is not writeable
Collecting scikit-surprise
  Downloading scikit_surprise-1.1.4.tar.gz (154 kB)
     ---------------------------------------- 0.0/154.4 kB ? eta -:--:--
     ---- -------------------------------- 20.5/154.4 kB 330.3 kB/s eta 0:00:01
     ----------------- ------------------- 71.7/154.4 kB 787.7 kB/s eta 0:00:01
     -------------------------------------- 154.4/154.4 kB 1.3 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: joblib>=1.2.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-surprise) (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in c:\programdata\anaconda3\lib\site-packages (from scikit-surprise) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-surprise) (1.13.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (pyproject.toml): started
  Building wheel for scikit-surprise (pyproject.toml): finished with status 'error'
Failed to build scikit-surprise

  error: subprocess-exited-with-error

  Building wheel for scikit-surprise (pyproject.toml) did not run successfully.
  exit code: 1

  [117 lines of output]
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-cpython-312
  creating build\lib.win-amd64-cpython-312\surprise
  copying surprise\accuracy.py -> build\lib.win-amd64-cpython-312\surprise
  copying surprise\builtin_datasets.py -> build\lib.win-amd64-cpython-312\surprise
  copying surprise\dataset.py -> build\lib.win-amd64-cpython-312\surprise
  copying surprise\dump.py -> build\lib.win-amd64-cpython-312\surprise
  copying surprise\reader.py -> build\lib.win-amd64-cpython-312\surprise
  copying surprise\trainset.py -> build\lib.win-amd64-cpython-312\surprise
  copying surprise\utils.py -> build\lib.win-amd64-cpython-312\surprise
  copying surprise\__init__.py -> build\lib.win-amd64-cpython-312\surprise
  copying surprise\__main__.py -> build\lib.win-amd64-cpython-312\surprise
  creating build\lib.win-amd64-cpython-312\surprise\model_selection
  copying surprise\model_selection\search.py -> build\lib.win-amd64-cpython-312\surprise\model_selection
  copying surprise\model_selection\split.py -> build\lib.win-amd64-cpython-312\surprise\model_selection
  copying surprise\model_selection\validation.py -> build\lib.win-amd64-cpython-312\surprise\model_selection
  copying surprise\model_selection\__init__.py -> build\lib.win-amd64-cpython-312\surprise\model_selection
  creating build\lib.win-amd64-cpython-312\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\algo_base.py -> build\lib.win-amd64-cpython-312\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\baseline_only.py -> build\lib.win-amd64-cpython-312\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\knns.py -> build\lib.win-amd64-cpython-312\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\predictions.py -> build\lib.win-amd64-cpython-312\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\random_pred.py -> build\lib.win-amd64-cpython-312\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\__init__.py -> build\lib.win-amd64-cpython-312\surprise\prediction_algorithms
  running egg_info
  writing scikit_surprise.egg-info\PKG-INFO
  writing dependency_links to scikit_surprise.egg-info\dependency_links.txt
  writing entry points to scikit_surprise.egg-info\entry_points.txt
  writing requirements to scikit_surprise.egg-info\requires.txt
  writing top-level names to scikit_surprise.egg-info\top_level.txt
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\arrayobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\arrayscalars.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\ndarrayobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\ndarraytypes.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\ufuncobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\arrayobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\arrayscalars.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\ndarrayobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\ndarraytypes.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\ufuncobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\arrayobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\arrayscalars.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\ndarrayobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\ndarraytypes.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\ufuncobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\arrayobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\arrayscalars.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\ndarrayobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\ndarraytypes.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\ufuncobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\arrayobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\arrayscalars.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\ndarrayobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\ndarraytypes.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\numpy\core\include\numpy\ufuncobject.h won't be automatically included in the manifest: the path must be relative
  reading manifest file 'scikit_surprise.egg-info\SOURCES.txt'
  reading manifest template 'MANIFEST.in'
  warning: no previously-included files matching '*.so' found under directory 'surprise'
  adding license file 'LICENSE.md'
  writing manifest file 'scikit_surprise.egg-info\SOURCES.txt'
  C:\Users\Centina\AppData\Local\Temp\pip-build-env-xoaykuq5\overlay\Lib\site-packages\setuptools\command\build_py.py:218: _Warning: Package 'surprise.prediction_algorithms' is absent from the `packages` configuration.
  !!

          ********************************************************************************
          ############################
          # Package would be ignored #
          ############################
          Python recognizes 'surprise.prediction_algorithms' as an importable package[^1],
          but it is absent from setuptools' `packages` configuration.

          This leads to an ambiguous overall configuration. If you want to distribute this
          package, please make sure that 'surprise.prediction_algorithms' is explicitly added
          to the `packages` configuration field.

          Alternatively, you can also rely on setuptools' discovery methods
          (for example by using `find_namespace_packages(...)`/`find_namespace:`
          instead of `find_packages(...)`/`find:`).

          You can read more about "package discovery" on setuptools documentation page:

          - https://setuptools.pypa.io/en/latest/userguide/package_discovery.html

          If you don't want 'surprise.prediction_algorithms' to be distributed and are
          already explicitly excluding 'surprise.prediction_algorithms' via
          `find_namespace_packages(...)/find_namespace` or `find_packages(...)/find`,
          you can try to use `exclude_package_data`, or `include-package-data=False` in
          combination with a more fine grained `package-data` configuration.

          You can read more about "package data files" on setuptools documentation page:

          - https://setuptools.pypa.io/en/latest/userguide/datafiles.html


          [^1]: For Python, any directory (with suitable naming) can be imported,
                even if it does not contain any `.py` files.
                On the other hand, currently there is no concept of package data
                directory, all directories are treated like packages.
          ********************************************************************************

  !!
    check.warn(importable)
  copying surprise\similarities.c -> build\lib.win-amd64-cpython-312\surprise
  copying surprise\similarities.pyx -> build\lib.win-amd64-cpython-312\surprise
  copying surprise\prediction_algorithms\co_clustering.c -> build\lib.win-amd64-cpython-312\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\matrix_factorization.c -> build\lib.win-amd64-cpython-312\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\optimize_baselines.c -> build\lib.win-amd64-cpython-312\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\slope_one.c -> build\lib.win-amd64-cpython-312\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\co_clustering.pyx -> build\lib.win-amd64-cpython-312\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\matrix_factorization.pyx -> build\lib.win-amd64-cpython-312\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\optimize_baselines.pyx -> build\lib.win-amd64-cpython-312\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\slope_one.pyx -> build\lib.win-amd64-cpython-312\surprise\prediction_algorithms
  running build_ext
  building 'surprise.similarities' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for scikit-surprise
ERROR: Could not build wheels for scikit-surprise, which is required to install pyproject.toml-based projects

In [38]:
# Supris vill have recommendation required methods

In [39]:
from surprise import Reader, Dataset, SVD
from surprise.model_selection import Cross_validate

ModuleNotFoundError: No module named 'surprise'

In [40]:
reader = Reader()

NameError: name 'Reader' is not defined

In [41]:
#we only work with top 100K rows for quick runtime
data=Dataset.load_from_df(netflix_dataset[['Cust_Id','Movie_Id','Rating']][:100000], reader) 

# In above, reader is helping to read each row of my data so that load_from_df can convert it to SVD readable format

NameError: name 'Dataset' is not defined

In [42]:
svd = SVD()

NameError: name 'SVD' is not defined

In [43]:
cross_validate(model, data, measures=['RMSE'], cv=3)

NameError: name 'cross_validate' is not defined

# Reccomendation

In [45]:
#making a copy for each individual customer for the recomendation
user_1331154 = df_title.copy()
user_1331154

       Movie_Id    Year                                               Name
0             1  2003.0                                    Dinosaur Planet
1             2  2004.0                         Isle of Man TT 2004 Review
2             3  1997.0                                          Character
3             4  1994.0                       Paula Abdul's Get Up & Dance
4             5  2004.0                           The Rise and Fall of ECW
...         ...     ...                                                ...
17765     17766  2002.0  Where the Wild Things Are and Other Maurice Se...
17766     17767  2004.0                  Fidel Castro: American Experience
17767     17768  2000.0                                              Epoch
17768     17769  2003.0                                        The Company
17769     17770  2003.0                                       Alien Hunter

[17770 rows x 3 columns]

In [46]:
user_1331154=user_1331154[~user_1331154['Movie_Id'].isin(drop_movie_list)]
user_1331154

       Movie_Id    Year                                               Name
2             3  1997.0                                          Character
4             5  2004.0                           The Rise and Fall of ECW
5             6  1997.0                                               Sick
7             8  2004.0                         What the #$*! Do We Know!?
15           16  1996.0                                          Screamers
...         ...     ...                                                ...
17765     17766  2002.0  Where the Wild Things Are and Other Maurice Se...
17766     17767  2004.0                  Fidel Castro: American Experience
17767     17768  2000.0                                              Epoch
17768     17769  2003.0                                        The Company
17769     17770  2003.0                                       Alien Hunter

[15071 rows x 3 columns]

In [47]:
user_1331154['Estimate_Score']=user_1331154['Movie_Id'].apply(lambda x: model.predict(1331154, x).est)

NameError: name 'model' is not defined

In [48]:
user_1331154

       Movie_Id    Year                                               Name
2             3  1997.0                                          Character
4             5  2004.0                           The Rise and Fall of ECW
5             6  1997.0                                               Sick
7             8  2004.0                         What the #$*! Do We Know!?
15           16  1996.0                                          Screamers
...         ...     ...                                                ...
17765     17766  2002.0  Where the Wild Things Are and Other Maurice Se...
17766     17767  2004.0                  Fidel Castro: American Experience
17767     17768  2000.0                                              Epoch
17768     17769  2003.0                                        The Company
17769     17770  2003.0                                       Alien Hunter

[15071 rows x 3 columns]

In [49]:
user_1331154.sort_values('Estimate_Score', ascending=False)

KeyError: 'Estimate_Score'

In [50]:
user_1331154.sort_values('Estimate_Score', ascending=False).head(5)

KeyError: 'Estimate_Score'