In [1]:
#two Sample T Test

#we pick S1 from al boys and S2 from all girls population
#H0 => The means are equal
#H1 => The means are not equal

In [2]:
from random import sample

In [3]:
import numpy as np

In [15]:
sample_b = sample(range(140, 185), 30)
sample_g = sample(range(130, 170), 30)

In [16]:
from scipy.stats import ttest_ind

In [17]:
ttest_ind(sample_b, sample_g)

TtestResult(statistic=2.4168816959030996, pvalue=0.01882012337674839, df=58.0)

In [18]:
#As pvalue < 0.05, we have enough evidence to reject H0

In [19]:
# Paired T test
# H0 => The means are equal
# H1 => The means are not equal

In [36]:
sample1 = sample(range(135,185), 30)
sample2 = sample(range(135,185), 30)

from scipy.stats import ttest_rel

In [37]:
from scipy.stats import ttest_rel

In [38]:
ttest_rel(sample1, sample2)

TtestResult(statistic=-0.27503845425161155, pvalue=0.7852367925735861, df=29)

In [39]:
#As pvalue > 0.05, we not have enough evidence to reject H0

In [40]:
ttest_ind(sample1, sample2)

TtestResult(statistic=-0.26097364749165686, pvalue=0.7950372490909428, df=58.0)

In [41]:
group1 = np.array([23, 20, 25, 30, 24])
group2 = np.array([27, 28, 26, 25, 29])

t_stat, p_val = ttest_ind(group1, group2)
print("t-statistic:", t_stat)
print("p-value:", p_val)

t-statistic: -1.462614271203832
p-value: 0.18171826599645016

In [43]:
t_stat, p_val = ttest_rel(group1, group2)
print("t-statistic:", t_stat)
print("p-value:", p_val)

t-statistic: -1.1793839502289376
p-value: 0.3036016411350295

In [44]:
before = np.array([23, 20, 25, 30, 24])
after = np.array([25, 22, 28, 32, 27])
t_stat, p_val = ttest_rel(before, after)

print("t-statistic:", t_stat)
print("p-value:", p_val)

t-statistic: -9.797958971132713
p-value: 0.0006081849444633356

In [47]:
p_val = ttest_rel(before, after)
print("p-value:", p_val)

p-value: TtestResult(statistic=-9.797958971132713, pvalue=0.0006081849444633356, df=4)

In [54]:
# F-Test

#H0 => varinaces are equal
#H1 => variances are not equal

In [50]:
sample1 = sample(range(0,100), 30)
sample2 = sample(range(0,100), 30)

In [51]:
print(sample1)
print(sample2)

[84, 15, 14, 12, 79, 62, 63, 75, 82, 3, 53, 2, 60, 40, 44, 41, 72, 96, 18, 6, 83, 26, 20, 56, 17, 22, 87, 86, 25, 19]
[28, 99, 68, 30, 58, 83, 22, 21, 8, 76, 70, 12, 9, 33, 34, 10, 62, 48, 95, 25, 86, 27, 16, 4, 77, 88, 19, 47, 64, 60]

In [52]:
fstat = np.var(sample1)/np.var(sample2)

In [53]:
fstat

1.042229994120657

In [58]:
#from scipy.stats import f.
import scipy.stats as st

p_value = 1 - st.f.cdf(fstat, len(sample1)-1, len(sample2)-1)
print(fstat, p_value)

1.042229994120657 0.4560410678115321

In [59]:
# As p_value > 0.05, we do not have enough evidence to reject the H0

In [60]:
#F Test
#impact of enhancer on performances of EV
# H0 => Performances Averages are same
# H1 => Performance Average are not same.

In [63]:
sample1 = sample(range(0,100), 20)
sample2 = sample(range(0,95), 20)
sample3 = sample(range(0,120), 20)
sample4 = sample(range(0,145), 20)

In [64]:
from scipy.stats import f_oneway

f_oneway(sample1, sample2, sample3, sample4)

F_onewayResult(statistic=6.457007544846397, pvalue=0.0005942480456096089)

In [65]:
# As pvalue < 0.05, we do have enough evidence to reject H0https://www.pinterest.com/pin/1407443628307437/

In [66]:
from scipy.stats import f_twoway

ImportError: cannot import name 'f_twoway' from 'scipy.stats' (/opt/anaconda3/lib/python3.11/site-packages/scipy/stats/__init__.py)

19 May

In [67]:
#Two way ANOVA
# Impact / signioficance of lectures and yuition on marks
# H0 => There is no significance of the two factors on marks
# H1 => There is significance of the two factors on marks

In [70]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [77]:
# Create the data

x = { 'Lectures' : np.repeat(['Daily', 'Weekly'], 20),
      'Tuition' : np.repeat(['Daily', 'Weekly'], 20),
      'Marks' : sample(range(33,100), 40)
    }

In [78]:
x

{'Lectures': array(['Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily',
        'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily',
        'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Weekly',
        'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly',
        'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly',
        'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly',
        'Weekly'], dtype='<U6'),
 'Tuition': array(['Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily',
        'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily',
        'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Weekly',
        'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly',
        'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly',
        'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly',
        'Weekly'], dtype='<U6'),
 'Marks': [37,
  52,
  84,
  92,
  38,
  66,
  33,
  90,
  35,
  41,
  50,
  43,
  45,
  67,
  60,
  86,
  69,
  55,
  68,
  40,
  61,
  42,
  98,
  79,
  64,
  59,
  82,
  62,
  96,
  44,
  85,
  88,
  63,
  76,
  48,
  49,
  94,
  36,
  57,
  71]}

In [79]:
import pandas as pd

In [80]:
marks_data = pd.DataFrame(x)

In [81]:
model = ols('Marks ~ C(Lectures) + C(Tuition) + C(Lectures):C(Tuition)', data = marks_data).fit()

In [82]:
sm.stats.anova_lm(model)

                          df        sum_sq      mean_sq         F    PR(>F)
C(Lectures)              1.0   1030.225000  1030.225000  2.812568  0.101737
C(Tuition)               1.0      3.064902     3.064902  0.008367  0.927597
C(Lectures):C(Tuition)   1.0    856.765708   856.765708  2.339015  0.134452
Residual                38.0  13919.150000   366.293421       NaN       NaN

In [86]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Marks   R-squared:                       0.069
Model:                            OLS   Adj. R-squared:                  0.044
Method:                 Least Squares   F-statistic:                     2.813
Date:                Sun, 19 May 2024   Prob (F-statistic):              0.102
Time:                        11:20:13   Log-Likelihood:                -173.80
No. Observations:                  40   AIC:                             351.6
Df Residuals:                      38   BIC:                             355.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================================================
                                                 coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------
Intercept                                     57.5500      4.280     13.448      0.000      48.886      66.214
C(Lectures)[T.Weekly]                          3.3833      2.017      1.677      0.102      -0.701       7.467
C(Tuition)[T.Weekly]                           3.3833      2.017      1.677      0.102      -0.701       7.467
C(Lectures)[T.Weekly]:C(Tuition)[T.Weekly]     3.3833      2.017      1.677      0.102      -0.701       7.467
==============================================================================
Omnibus:                        6.165   Durbin-Watson:                   2.407
Prob(Omnibus):                  0.046   Jarque-Bera (JB):                2.490
Skew:                           0.273   Prob(JB):                        0.288
Kurtosis:                       1.907   Cond. No.                     3.00e+31
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.57e-62. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [97]:
Lectures = np.repeat(['Daily', 'Weekly'], 20)
Lectures

array(['Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily',
       'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily',
       'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Weekly',
       'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly',
       'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly',
       'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly',
       'Weekly'], dtype='<U6')

array(['Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily',
       'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily',
       'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Weekly',
       'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly',
       'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly',
       'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly',
       'Weekly'], dtype='<U6')

In [98]:
x.get("Lectures")

array(['Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily',
       'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily',
       'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Daily', 'Weekly',
       'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly',
       'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly',
       'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly', 'Weekly',
       'Weekly'], dtype='<U6')

In [106]:
x['test'] = sample(range(33,100), 2)

In [107]:
x.get('test')

[95, 49]

Z Test

In [108]:
# Z Test for means
# one sample Z test

In [109]:
# Average weight of class X student is 55 KG
# H0 => Average weight is same
# H1 => Average weight is not same

In [110]:
from statsmodels.stats.weightstats import ztest

In [111]:
sample1 = sample(range(30,80), 50)
sample2 = sample(range(40,100), 50)

In [112]:
ztest(sample1, value = 55)

(-0.24253562503633297, 0.8083651559145103)

In [113]:
# as P_value is greater than 0.05, we have enough evidence to reject H0

In [117]:
# two sample Z test
# H0 => The means difference is zero
# H1 => The means difference is non zero

In [118]:
ztest(sample1, sample2)

(-4.833846261419315, 1.3392002452095839e-06)

In [119]:
# as p-value < 0.05, we have enough evidence to reject the H0

In [120]:
ztest(sample2, sample1)

(4.833846261419315, 1.3392002452095839e-06)

In [154]:
data = pd.read_csv("purchase.csv")

In [155]:
data.shape

(550068, 12)

In [156]:
data.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [157]:
data.duplicated().sum()

0

In [158]:
data.head(6)

   User_ID Product_ID Gender  ... Product_Category_2  Product_Category_3 Purchase
0  1000001  P00069042      F  ...                NaN                 NaN     8370
1  1000001  P00248942      F  ...                6.0                14.0    15200
2  1000001  P00087842      F  ...                NaN                 NaN     1422
3  1000001  P00085442      F  ...               14.0                 NaN     1057
4  1000002  P00285442      M  ...                NaN                 NaN     7969
5  1000003  P00193542      M  ...                2.0                 NaN    15227

[6 rows x 12 columns]

In [159]:
data.tail(6)

        User_ID Product_ID  ... Product_Category_3 Purchase
550062  1006032  P00372445  ...                NaN      473
550063  1006033  P00372445  ...                NaN      368
550064  1006035  P00375436  ...                NaN      371
550065  1006036  P00375436  ...                NaN      137
550066  1006038  P00375436  ...                NaN      365
550067  1006039  P00371644  ...                NaN      490

[6 rows x 12 columns]

In [160]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [161]:
# people more than 10000, 35% are women => sample analysis
# Z test for proportions
# H0 => The proportion is same
# H1 => The proportion is not same

In [162]:
data_new = data[(data['Purchase'] > 10000)]
data_new

        User_ID Product_ID  ... Product_Category_3 Purchase
1       1000001  P00248942  ...               14.0    15200
5       1000003  P00193542  ...                NaN    15227
6       1000004  P00184942  ...               17.0    19215
7       1000004  P00346142  ...                NaN    15854
8       1000004   P0097242  ...                NaN    15686
...         ...        ...  ...                ...      ...
545892  1006037  P00148642  ...               13.0    11952
545896  1006037  P00183142  ...                NaN    13054
545904  1006040  P00081142  ...               14.0    16493
545908  1006040  P00127642  ...               15.0    15694
545914  1006040  P00217442  ...               11.0    11640

[189450 rows x 12 columns]

In [163]:
nobs_test = len(data_new)
print(nobs_test)

189450

In [164]:
count_test = len(data_new[data_new["Gender"] == 'F'])
print(count_test)

38941

In [165]:
from statsmodels.stats.proportion import proportions_ztest

In [166]:
proportions_ztest(count = count_test, nobs = nobs_test, value = 0.35)

(-155.5900345296748, 0.0)

In [167]:
# As p < 0.05, we have enough evidence to reject the H0

In [168]:
data2 = data[(data['Purchase'] > 10000) & (data['Gender'] == 'F')]
data2

        User_ID Product_ID  ... Product_Category_3 Purchase
1       1000001  P00248942  ...               14.0    15200
16      1000006   P0096642  ...                4.0    13055
29      1000010  P00085942  ...                8.0    16352
33      1000010  P00058342  ...                NaN    10946
36      1000010  P00182642  ...                9.0    12909
...         ...        ...  ...                ...      ...
545882  1006036  P00270542  ...                8.0    15653
545884  1006036  P00076342  ...                NaN    10140
545887  1006036  P00127742  ...               15.0    11398
545892  1006037  P00148642  ...               13.0    11952
545896  1006037  P00183142  ...                NaN    13054

[38941 rows x 12 columns]

In [169]:
nobs_test = len(data2)
print(nobs_test)
count_test = len(data2[data2["Gender"] == 'F'])
print(count_test)

proportions_ztest(count = count_test, nobs = nobs_test, value = 0.35)

38941
38941

/opt/anaconda3/lib/python3.11/site-packages/statsmodels/stats/weightstats.py:792: RuntimeWarning: divide by zero encountered in scalar divide
  zstat = value / std

(inf, 0.0)